<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Reset Password</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form>
                                <div class="form-group" name="resetPasswordForm" id="resetPasswordForm" ng-submit="ctrl.resetPassword()" novalidate>
                                    <input id="email" name="email" type="email" class="form-control" placeholder="Email address" ng-model="ctrl.username" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                                        required>
                                    <span ng-show="resetPasswordForm.email.$error.required && resetPasswordForm.email.$dirty" class="help-block">
                                        Email is required.
                                    </span>
                                    <span ng-show="resetPasswordForm.email.$error.pattern" class="help-block">
                                        Invalid Email address.
                                    </span>
                                </div>
                                <button class="btn btn-warning btn-block" ng-disabled="resetPasswordForm.$invalid" type="submit">Reset</button>
                            </form>
                            <br>
                            <small>Need an account? <a ui-sref="SignUp">Signup</a></small>
                            <p><small>Already have an account? <a ui-sref="Login">Login</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>