<div ng-if="ctrl.privilege == 'member'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Contact Profile</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2 vcenter">
                                    <div class="circular--landscape">
                                        <img src="/assets/images/p1.jpg" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 vcenter padding-l">
                                    <div class="col-md-12">
                                        <h3 class="h3-margin"><b>{{ctrl.username.split('@')[0].toUpperCase()}}</b></h3>
                                        <h4><small>{{ctrl.username}}</small></h4>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-sm" ui-sref="Contact">Edit <span class="glyphicon glyphicon-edit"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Company Profile</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <p>Snippet of company profile details</p>
                                    <br>
                                    <button class="btn btn-primary btn-sm" ui-sref="Company">Edit <span class="glyphicon glyphicon-edit"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>