<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title text-center"><b>Account Registration</b></h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <form name="signUpForm" id="signUpForm" ng-submit="ctrl.signUp()" novalidate>
                                <!-- Salutation -->
                                <!-- Name -->
                                <label for="name">Name :</label>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group" ng-class="{'has-error': signUpForm.salutation.$dirty && signUpForm.salutation.$invalid}">
                                            <select id="salutation" name="salutation" class="form-control" ng-model="ctrl.user.salutation" ng-options="x.value as x.name for x in ctrl.salutations"
                                                required>
                                                <!-- <option value="" disabled>- - Select Salutation - -</option> -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="form-group" ng-class="{'has-error': signUpForm.firstname.$dirty && signUpForm.firstname.$invalid}">
                                            <input id="firstname" name="firstname" type="text" class="form-control" placeholder="First Name" ng-model="ctrl.user.first_name"
                                                required>
                                            <span ng-show="signUpForm.firstname.$error.required && signUpForm.firstname.$dirty" class="help-block">
                                                First Name is required.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="form-group" ng-class="{'has-error': signUpForm.lastname.$dirty && signUpForm.lastname.$invalid}">
                                            <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Last Name" ng-model="ctrl.user.last_name"
                                                required>
                                            <span ng-show="signUpForm.lastname.$error.required && signUpForm.lastname.$dirty" class="help-block">
                                                Last Name is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Email -->
                                <div class="form-group" ng-class="{'has-error': signUpForm.email.$dirty && signUpForm.email.$invalid}">
                                    <label for="Email">Email :</label>
                                    <input id="email" name="email" type="email" class="form-control" placeholder="contact@example.com" ng-model="ctrl.user.username"
                                        ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                                        required>
                                    <span ng-show="signUpForm.email.$error.required && signUpForm.email.$dirty" class="help-block">
                                        Email is required.
                                    </span>
                                    <span ng-show="signUpForm.email.$error.pattern" class="help-block">
                                        Invalid Email address.
                                    </span>
                                </div>
                                <!-- Password -->
                                <div class="form-group" ng-class="{'has-error': signUpForm.password.$dirty && (signUpForm.password.$invalid || !ctrl.passwordValid)}">
                                    <label for="password">Password :</label>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="ctrl.user.password"
                                        required>
                                    <span id="password1Help1" ng-show="signUpForm.password.$dirty && signUpForm.password.$invalid" class="help-block">Required Password</span>
                                    <span id="password1Help2" ng-if="signUpForm.password.$dirty && !ctrl.checkPassword() && ctrl.user.password.length > 0" class="help-block">Invalid Password: {{ctrl.passwordFeedback}}</span>
                                </div>
                                <div class="form-group" ng-class="{'has-error': signUpForm.confirmpassword.$dirty && (signUpForm.confirmpassword.$invalid || ctrl.user.password != ctrl.user.confirm_password)}">
                                    <label for="confirmpassword">Confirm Password :</label>
                                    <input id="confirmpassword" name="confirmpassword" type="password" class="form-control" placeholder="Re-Type Password" ng-model="ctrl.user.confirm_password"
                                        required>
                                    <span id="password2Help1" ng-show="signUpForm.confirmpassword.$dirty && signUpForm.confirmpassword.$invalid" class="help-block">Please confirm your Password.</span>
                                    <span id="password2Help2" ng-if="signUpForm.confirmpassword.$dirty && ctrl.user.password != ctrl.user.confirm_password && ctrl.user.confirm_password.length > 0"
                                        class="help-block">Password does not match.</span>
                                </div>
                                <!-- Company -->
                                <div class="form-group" ng-class="{'has-error': signUpForm.company.$dirty && signUpForm.company.$invalid}">
                                    <label for="company">Company Name :</label>
                                    <input id="company" name="company" type="text" class="form-control" placeholder="Acme Corporation" ng-model="ctrl.user.company_name"
                                        required>
                                    <span ng-show="signUpForm.company.$error.required && signUpForm.company.$dirty" class="help-block">Please include your company name.</span>
                                </div>
                                <!-- <button class="btn btn-block btn-primary" type="submit" ui-sref="Login">Register</button> -->
                                <button class="btn btn-block btn-primary" ng-disabled="signUpForm.$invalid" type="submit">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>