<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Welcome</h2>
                </div>
                <div class="panel-body">
                    <form name="loginForm" id="loginForm" ng-submit="ctrl.login()" novalidate>
                        <!-- Username -->
                        <div class="form-group" ng-class="{'has-error': loginForm.username.$dirty && loginForm.username.$invalid}">
                            <input id="username" name="username" ng-model="ctrl.user.username" type="email" class="form-control" placeholder="Email"
                                ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                                required>
                            <span ng-show="loginForm.username.$error.required && loginForm.username.$dirty" class="help-block">
                        Email is required.
                    </span>
                            <span ng-show="loginForm.username.$error.pattern" class="help-block">
                        Invalid Email address.
                    </span>
                        </div>
                        <!-- Password -->
                        <div class="form-group" ng-class="{'has-error': loginForm.password.$dirty && loginForm.password.$invalid}">
                            <input id="password" name="password" ng-model="ctrl.user.password" type="password" class="form-control" placeholder="Password"
                                required>
                            <span ng-show="loginForm.password.$error.required && loginForm.password.$dirty" class="help-block">
                        Password is required.
                    </span>
                        </div>
                        <!-- Submit Button -->
                        <button class="btn btn-block btn-primary" analytics-on="click" analytics-category="some" analytics-event="login" ng-disabled="loginForm.$invalid"
                            type="submit">Login</button>
                    </form>
                    <br>
                    <div class="alert alert-danger fade in" ng-show="ctrl.message">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> Invalid Username or Password.
                    </div>
                    <small>Need an account? <a ui-sref="SignUp">Signup</a></small>
                    <p><small>Forgot your password? <a ui-sref="ResetPassword">Reset</a></small></p>

                    <hr>

                    <button class="btn btn-block btn-social btn-google">
                        <i class="fa fa-google"></i>
                        Sign in with Google
                    </button>
                    <button class="btn btn-block btn-social btn-facebook m-b-sm">
                        <i class="fa fa-facebook"></i>
                        Sign in with Facebook
                    </button>
                    <button class="btn btn-block btn-social btn-linkedin">
                        <i class="fa fa-linkedin"></i>
                        Sign in with LinkedIn
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>