<div class="container-fluid">
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <img class="img-responsive" src="/assets/images/UnderConstruct.jpg" alt="Under Construction" width="600px" height="600px">
        </div>
    </div>
    <br>
</div>