<div ng-if="ctrl.privilege == 'admin'">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#!/home">NodeMatch Admin</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <button ui-sref="Login" ng-click="ctrl.logout()" class="btn btn-danger navbar-btn pull-right">Logout</button>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <form id="editForm" name="editForm" ng-submit="ctrl.editUser()" novalidate>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Salutation</h5>
                                </td>
                                <td>
                                    <div ng-class="{'has-error': editForm.salutation.$dirty && editForm.salutation.$invalid}">
                                        <select id="salutation" name="salutation" class="form-control" ng-model="ctrl.user.salutation" ng-options="x.value as x.name for x in ctrl.salutations"
                                            required>
                                    <option value="" disabled>- - Select Salutation - -</option>
                                </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>First Name</h5>
                                </td>
                                <td>
                                    <div ng-class="{'has-error': editForm.firstName.$dirty && editForm.firstName.$invalid}">
                                        <input id="firstName" name="firstName" type="text" class="form-control" ng-model="ctrl.user.first_name" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Last Name</h5>
                                </td>
                                <td>
                                    <div ng-class="{'has-error': editForm.lastName.$dirty && editForm.lastName.$invalid}">
                                        <input id="lastName" name="lastName" type="text" class="form-control" ng-model="ctrl.user.last_name" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Company Name</h5>
                                </td>
                                <td>
                                    <div ng-class="{'has-error': editForm.companyName.$dirty && editForm.companyName.$invalid}">
                                        <input id="companyName" name="companyName" type="text" class="form-control" size="1" ng-model="ctrl.user.company_name">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Privilege</h5>
                                </td>
                                <td>
                                    <div ng-class="{'has-error': editForm.privilege.$dirty && editForm.privilege.$invalid}">
                                        <select id="privilege" name="privilege" class="form-control" ng-model="ctrl.user.privilege" ng-options="x.value as x.name for x in ctrl.privileges"
                                            required>
                                    <option value="" disabled>- - Select Privilege - -</option>
                                </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-xs-offset-9 col-xs-1">
                                <button class="btn btn-danger" ng-click="ctrl.deleteUser()"> Delete </button>
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-default" ui-sref="Admin"> Cancel </button>
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-primary" ng-disabled="editForm.$invalid" type="submit"> Save </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>