<div ng-if="ctrl.privilege == 'admin'">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#!/home">NodeMatch Admin</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <button ui-sref="Login" ng-click="ctrl.logout()" class="btn btn-danger navbar-btn pull-right">Logout</button>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in ctrl.userList track by $index">
                            <td>{{$index}}</td>
                            <td>{{x.username}}</td>
                            <td>
                                <div class="pull-right"><a ui-sref="AdminEdit({id:x._id})"><span class="glyphicon glyphicon-search"></span></a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
    </div>
</div>