<!-- <div ng-if="ctrl.privilege == 'member'"> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">COMPANY PROFILE</h4>
                </div>
                <div class="panel-body">
                    <form id="companyProfile" name="companyProfile" ng-submit="ctrl.editCompanyProfile()" novalidate>
                        <uib-tabset active="activeJustified" justified="true">

                            <uib-tab index="0" heading="Information">
                                <br>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <!-- Name -->
                                        <div class="form-group">
                                            <label for="name">Name :</label>
                                            <input id="name" name="name" ng-model="ctrl.company.company_name" type="text" class="form-control" placeholder="">
                                        </div>
                                        <!-- Location -->
                                        <div class="form-group">
                                            <label for="location">Location :</label>
                                            <!-- <input id="country" name="country" type="text" class="form-control" placeholder="Country / Region" ng-model="ctrl.company.location_country"> -->
                                            <select id="country" name="country" class="form-control" ng-change="ctrl.loadStatesI()" ng-model="ctrl.company.location_country"
                                                ng-options="x as x for x in ctrl.countries">
                                                <option value=""  disabled>Country / Region</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <!-- <input id="state" name="state" type="text" class="form-control" placeholder="Province / State / County" ng-model="ctrl.company.location_state"> -->
                                            <select id="state" name="state" class="form-control" ng-model="ctrl.company.location_state" ng-options="x as x for x in ctrl.statesI">
                                                <option value="" selected disabled>Province / State / County</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input id="city" name="city" type="text" class="form-control" placeholder="Address Line 1" ng-model="ctrl.company.location_city">
                                        </div>
                                        <div class="form-group">
                                            <input id="street" name="street" type="text" class="form-control" placeholder="Address Line 2" ng-model="ctrl.company.location_street">
                                        </div>
                                        <!-- <div class="form-group">
                                            <input id="city" name="city" type="text" class="form-control" placeholder="City" ng-model="ctrl.company.location_city">
                                        </div>
                                        <div class="form-group">
                                            <input id="street" name="street" type="text" class="form-control" placeholder="Street" ng-model="ctrl.company.location_street">
                                        </div> 
                                        <div class="form-group">
                                            <input id="zipcode" name="zipcode" type="text" class="form-control" placeholder="Zip / Postal Code" ng-model="ctrl.company.location_zip">
                                        </div> -->
                                        <!-- Contact -->
                                        <div class="form-group">
                                            <label for="contact">Contact Number :</label>
                                            <input id="contact" name="contact" type="text" class="form-control" placeholder="(Ext) Contact-No." ng-model="ctrl.company.company_contact">
                                        </div>
                                        <!-- Company Registration Number -->
                                        <div class="form-group">
                                            <label for="crn">Company Registration Number :</label>
                                            <input id="crn" name="crn" type="text" class="form-control" placeholder="" ng-model="ctrl.company.company_crn">
                                        </div>
                                        <!-- Alternative Company Names (TODO) -->
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab index="1" heading="Operations">
                                <br>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <!-- Organisation -->
                                        <div class="form-group">
                                            <label for="organisation">Type of Organisation :</label>
                                            <select id="organisation" name="organisation" class="form-control" ng-model="ctrl.company.type_of_organisation" ng-options="x.value as x.name for x in ctrl.type_of_organisation">
                        <option value="" disabled>- - Select - -</option>
                    </select>
                                        </div>
                                        <!-- Company Size / Num of Employees -->
                                        <div class="form-group">
                                            <label for="size">Company Size :</label>
                                            <select id="size" name="size" class="form-control" ng-model="ctrl.company.company_size" ng-options="x.value as x.name for x in ctrl.company_size">
                        <option value="" disabled>- - Select - -</option>
                    </select>
                                        </div>
                                        <!-- Main Activity -->
                                        <div class="form-group">
                                            <label for="activity">Company's Main Activity OR Nature of Business :</label>
                                            <textarea id="activity" name="activity" class="form-control" ng-model="ctrl.company.main_activity" placeholder="Description"
                                                rows="5">
                    </textarea>
                                        </div>
                                        <!-- Coverage -->
                                        <label for="Coverage">Company's Geographical Coverage :</label>
                                        <div class="form-group">
                                            <div class="row">
                                                <!-- <input id="coverage" name="coverage" type="text" class="form-control" placeholder="Add Country" ng-model="ctrl.form_options.coverage"> -->
                                                <div class="col-xs-5">
                                                    <select id="coverage" name="coverage" class="form-control" ng-change="ctrl.loadStatesO()" ng-model="ctrl.form_options.coverage_area"
                                                        ng-options="x as x for x in ctrl.countries">
                                        <option value="" disabled>- - Select Countries - -</option>
                                    </select>
                                                </div>
                                                <div class="col-xs-5">
                                                    <select id="c_state" name="c_state" class="form-control" ng-model="ctrl.form_options.coverage_state" ng-options="x as x for x in ctrl.statesO">
                                        <option value="" selected disabled>- - Select Province / State / County - -</option>
                                    </select>
                                                </div>
                                                <div class="col-xs-2">
                                                    <button class="btn btn-default btn-block" type="button" ng-click="ctrl.addCoverage()"><i class="glyphicon glyphicon-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <table ng-show="ctrl.company.company_coverage.length > 0" class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-5"></th>
                                                    <th class="col-xs-5"></th>
                                                    <th class="col-xs-2"></th>
                                                </tr>
                                                <tbody>
                                                    <tr ng-repeat="x in ctrl.company.company_coverage track by $index">
                                                        <td>
                                                            <div class="">{{x}}</div>
                                                        </td>
                                                        <td>
                                                            <div class="">{{ctrl.company.company_coverage_s[$index]}}</div>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-xs btn-default pull-right" type="button" ng-click="ctrl.removeCoverage($index)"><span class="glyphicon glyphicon-minus"></span></a></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                        </table>
                                        <br>
                                        <!-- Financial Capacity -->
                                        <div class="form-group">
                                            <label for="financial">Estimated Revenue / Sales :</label>
                                            <select id="financial" name="financial" class="form-control" ng-model="ctrl.company.financial_capacity" ng-options="x.value as x.name for x in ctrl.financial_capacity">
                        <option value="" disabled>- - Select - -</option>
                    </select>
                                        </div>
                                        <!-- Sectors -->
                                        <div class="form-group">
                                            <label for="sectors">Sectors Interested In :</label>
                                            <div isteven-multi-select input-model="ctrl.sectors" output-model="ctrl.company.sectors" button-label="value" item-label="value"
                                                tick-property="ticked" orientation="horizontal" class="multiselectMod">
                                            </div>
                                        </div>
                                        <!-- Offered Products / Services -->
                                        <label for="productService">Product &amp; Services Offered :</label>
                                        <div class="input-group">
                                            <input id="productService" name="productService" type="text" class="form-control" placeholder="Product / Service" ng-model="ctrl.form_options.product_service">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="ctrl.addProductService()"><i class="glyphicon glyphicon-plus"></i></button>
                                            </div>
                                        </div>
                                        <table ng-show="ctrl.company.products_services.length > 0" class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-11"></th>
                                                    <th class="col-xs-1"></th>
                                                </tr>
                                                <tbody>
                                                    <tr ng-repeat="x in ctrl.company.products_services track by $index">
                                                        <td>
                                                            <div class="">{{x}}</div>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-xs btn-default pull-right" type="button" ng-click="ctrl.removeProductService($index)"><span class="glyphicon glyphicon-minus"></span></a></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                        </table>
                                        <br>
                                        <!-- Past Orders -->
                                        <div class="form-group">
                                            <label for="pastOrdersCorps">Past Orders/ Corporations :</label>
                                            <textarea id="pastOrdersCorps" name="pastOrdersCorps" class="form-control" placeholder="Description" rows="5" ng-model="ctrl.company.past_orders"></textarea>
                                        </div>
                                        <!-- Brands Offered -->
                                        <!-- Competitve Strengths -->
                                        <!-- Track Records -->
                                        <!-- Language Spoken -->
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab index="2" heading="Certifications" disable=true>
                                <br>
                                <button class="btn btn-default btn-block" type="button"><i class="glyphicon glyphicon-plus"></i> Add Certification</span></button>
                                <!-- Standard Industry Classifications -->
                                <!-- Awards and Accolades -->
                            </uib-tab>

                            <uib-tab index="3" heading="Minisite" disable=true>
                                <br>
                                <div class="form-group">
                                    <label for="CoporateSite">Corporate Website :</label>
                                    <input type="text" class="form-control" placeholder="www.examplecompany.com">
                                </div>
                                <div class="form-group">
                                    <label for="Logo">Company Logo :</label>
                                    <input type="file" class="form-control">
                                </div>
                                <img ngf-thumbnail="" width="100px" height="100px" class="img-thumbnail">
                            </uib-tab>

                        </uib-tabset>
                        <br>
                        <hr>
                        <div class="col-xs-12">
                            <button class="btn btn-primary pull-right" type="submit">Save</button>
                            <button class="btn btn-default pull-right btn-space" ui-sref="Profile">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>
<!-- </div> -->