<div ng-if="ctrl.privilege == 'member'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">CONTACT PROFILE</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form name="contactProfile" id="contactProfile" ng-submit="ctrl.editProfileContact()" novalidate>
                                    <div class="col-xs-12 col-md-8">
                                        <h4>Basic Information</h4>
                                        <hr>
                                        <!-- Salutation -->
                                        <!-- Name -->
                                        <label for="name">Name :</label>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <select id="salutation" name="salutation" class="form-control" ng-model="ctrl.user.salutation" ng-options="x.value as x.name for x in ctrl.salutations"
                                                    required>
                                            <option value="" disabled>- - Select Salutation - -</option>
                                        </select>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="form-group" ng-class="{'has-error': contactProfile.firstname.$dirty && contactProfile.firstname.$invalid}">
                                                    <input id="firstname" name="firstname" type="text" class="form-control" placeholder="First Name" ng-model="ctrl.user.first_name"
                                                        required>
                                                    <span ng-show="contactProfile.firstname.$error.required && contactProfile.firstname.$dirty" class="help-block">
                                            First Name is required.
                                        </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="form-group" ng-class="{'has-error': contactProfile.lastname.$dirty && contactProfile.lastname.$invalid}">
                                                    <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Last Name" ng-model="ctrl.user.last_name"
                                                        required>
                                                    <span ng-show="contactProfile.lastname.$error.required && contactProfile.lastname.$dirty" class="help-block">
                                Last Name is required.
                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Email -->
                                        <div class="form-group" ng-class="{'has-error': contactProfile.email.$dirty && contactProfile.email.$invalid}">
                                            <label for="Email">Email :</label>
                                            <input id="email" name="email" type="email" class="form-control" placeholder="contact@example.com" ng-model="ctrl.user.username"
                                                ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                                                required>
                                            <span ng-show="contactProfile.email.$error.required && contactProfile.email.$dirty" class="help-block">
                            Email is required.
                        </span>
                                            <span ng-show="signUpForm.email.$error.pattern" class="help-block">
                            Invalid Email address.
                        </span>
                                        </div>
                                        <!-- Contact Number -->
                                        <div class="form-group" ng-class="{'has-error': contactProfile.contactNum.$dirty && contactProfile.contactNum.$invalid}">
                                            <label for="contactNum">Contact Number :</label>
                                            <input id="contactNum" name="contactNum" type="tel" class="form-control" placeholder="(Ext) Contact-No." ng-model="ctrl.user.contact_number"
                                                required>
                                            <span ng-show="contactProfile.contactNum.$error.required && contactProfile.contactNum.$dirty" class="help-block">
                            Contact Number is required.
                        </span>
                                        </div>
                                        <!-- Fax Number -->
                                        <div class="form-group" ng-class="{'has-error': contactProfile.faxNum.$dirty && contactProfile.faxNum.$invalid}">
                                            <label for="faxNum">Fax :</label>
                                            <input id="faxNum" name="faxNum" type="tel" class="form-control" placeholder="(Ext) Fax-No." ng-model="ctrl.user.fax_number"
                                                required>
                                            <span ng-show="contactProfile.faxNum.$error.required && contactProfile.faxNum.$dirty" class="help-block">
                            Fax Number is required.
                        </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <h4>Company Designation</h4>
                                        <hr>
                                        <!-- Department -->
                                        <div>
                                            <label for="department">Department :</label>
                                            <select id="department" name="department" class="form-control" ng-model="ctrl.user.department" ng-options="x.value as x.name for x in ctrl.departments"
                                                required>
                            <option value="" disabled>- - Select Department - -</option>
                        </select>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': contactProfile.department_others.$dirty && contactProfile.department_others.$invalid}">
                                            <input id="department_others" name="department_others" class="form-control" type="text" placeholder="Please Specify" ng-model="department_others"
                                                ng-required="ctrl.user.department == 'Others'" ng-show="ctrl.user.department == 'Others'">
                                        </div>
                                        <!-- Function -->
                                        <div>
                                            <label for="function">Function :</label>
                                            <select id="function" name="function" class="form-control" ng-model="ctrl.user.function" ng-options="x.value as x.name for x in ctrl.functions"
                                                required>
                            <option value="" disabled>- - Select Function - -</option>
                        </select>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': contactProfile.function_others.$dirty && contactProfile.function_others.$invalid}">
                                            <input id="function_others" name="function_others" class="form-control" type="text" placeholder="Please Specify" ng-model="function_others"
                                                ng-required="ctrl.user.function == 'Others'" ng-show="ctrl.user.function == 'Others'">
                                        </div>
                                        <!-- Purpose -->
                                        <div class="form-group">
                                            <label for="purpose">Purpose of using Platform :</label>
                                            <select id="purpose" name="purpose" class="form-control" ng-model="ctrl.user.purpose" ng-options="x.value as x.name for x in ctrl.purpose"
                                                required>
                            <option value="" disabled>- - Select Purpose - -</option>
                        </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary pull-right" ng-disabled="contactProfile.$invalid" type="submit">Save</button>
                                        <button class="btn btn-default pull-right btn-space" ui-sref="Profile">Back</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>