<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for RFx">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover .table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in ctrl.rfxlist track by $index">
                        <td>0001</td>
                        <td>RFI</td>
                        <td>Request For Information</td>
                        <td><div class="pull-right"><a ui-sref=""><span class="glyphicon glyphicon-search"></span></a></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
</div>