<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Choose the type of RFx</h1>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <button class="btn btn-block btn-primary" type="button" ui-sref="">Request for Information (RFI)</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <button class="btn btn-block btn-primary" type="button" ui-sref="">Request for Proposal (RFP)</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <button class="btn btn-block btn-primary" type="button" ui-sref="RFXPostRFQ">Request for Quote (RFQ)</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <button class="btn btn-block btn-primary" type="button" ui-sref="">Request for Bid (RFB)</button>
        </div>
    </div>
</div>
</div>