<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul id="progressbar">
                <li class="active"><a ui-sref="RFXPost">Choose RFx</a></li>
                <li class="active"><a>RFQ</a></li>
                <li class="">Review</li>
                <li class="">Submit</li>
            </ul>
        </div>
    </div>
     <hr class="hr-nomargin"> 

    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="ProductName">Product Name :</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="ProductCategory">Product Category :</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="Quantity">Quantity :</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="Units">Units :</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Message">Message :</label>
                        <textarea class="form-control" placeholder="Description" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Attachments">Attachments :</label>
                        <button class="btn btn-default btn-block" type="button"><i class="glyphicon glyphicon-plus"></i> Add Document</span></button>
                    </div>
                    <div class="form-group">
                        <label for="Budget">Budget :</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-default btn-primary pull-right" type="button" ui-sref="RFXPostRFQReview">Next</button>
                </div>
            </form>
        </div>
    </div>

    <br>
</div>