<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul id="progressbar">
                <li class="active"><a>Choose RFx</a></li>
                <li class="active"><a>RFQ</a></li>
                <li class="active"><a>Review</a></li>
                <li class="active"><a>Submit</a></li>
            </ul>
        </div>
    </div>
    <hr class="hr-nomargin">

    <br>
    <br>
    <p class="text-center">RFQ Successfully Posted</p>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-block btn-primary" type="button" ui-sref="RFX">Return to RFx</button>
        </div>
    </div>
    <br>
</div>