<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul id="progressbar">
                <li class="active"><a ui-sref="RFXPost">Choose RFx</a></li>
                <li class="active"><a ui-sref="RFXPostRFQ">RFQ</a></li>
                <li class="active"><a>Review</a></li>
                <li class="">Submit</li>
            </ul>
        </div>
    </div>
    <hr class="hr-nomargin">

    <br>
    <br>
    <p class="text-center">Double check form + additional transactions</p>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default btn-primary pull-right" type="button" ui-sref="RFXPostRFQSubmit">Submit</button>
        </div>
    </div>
    <br>
</div>