<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">RFx</h1>
            <h4 class="text-center"><small>Buyer Request, Seller Respond</small></h4>
        </div>
    </div>

    <hr>
    
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-1">
            <button class="btn btn-block btn-primary" type="button" ui-sref="RFXPost">Post RFx</button>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-2">
            <button class="btn btn-block btn-primary" type="button" ui-sref="RFXView">View RFx</button>
        </div>
    </div>

    <br>
</div>