.circular--square {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--square img {
    width: 100%;
    height: auto;
}

.circular--landscape {
    /* display: inline-block; */
	/* position: relative; */
	margin: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
	border-radius: 50%;
}

.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -25px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
	float: none;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}

.hr-nomargin {
    margin-top: 0px;
    margin-bottom: 10px;
}

.hr-nomargin2 {
	margin-bottom: 0px; 
}

.hr-nomargin3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.hr-nomargin4 {
	margin-top: 0px;
}

.gbg {
	background-color: #604437;
}

.mainwp {
	background-image: url("../assets/images/StockSnap_OHKILTFW97-min.jpg");
	background-size: 100%;
	background-color: rgba(255,255,255,0.3); 
	background-blend-mode: color;
}

.margin-top-offset {
	margin-top: -20px;
}

.main-head {
	margin-top: 100px;
}

.main-head-font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: bolder;
	text-shadow: 2px 2px #ffffff;
}

.main-btn {
	margin-top: 20px;
	height: 65px;
	font-size: 24px;
	color: white;
	background-color: #826658;
}

.btn-space {
	margin-right: 15px;
}

.crequest-btn {
	background-color: rgb(90, 220, 255);
}

.crequest-post {
	background-color: rgb(161, 234, 252);
}

.coffer-btn {
	background-color: rgb(255, 160, 70);
}

.coffer-post {
	background-color: rgb(255, 220, 150);
}

.multiselectMod > span > button {
	width: 100%;
	background: none;
	text-align: left;
}

.multiselectMod > span > button:hover {
	background: none;
}

.table-pointer {
	cursor: pointer;
}

.border-l {
	border-left:1px solid #e8e8e8;
}

.padding-l {
	padding-left: 0px;
}

.h3-margin {
	margin-top: 0px;
}

.label-small {
	font-size: 11px;
}

/* Overwrite Percent Circle */
.pc-container {
	position: relative;
	margin: auto;
    width: 40%;
}

.pc-percent {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
}

/*progressbar*/
#progressbar {
	/* margin-bottom: 10px; */
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: grey;
	text-transform: uppercase;
	font-size: 9px;
	width: 23.5%;
    float: left;
    text-align: center;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: grey;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: grey;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: black;
}