<!-- <div ng-if="ctrl.privilege == 'member'"> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Confirmation Message</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">Success</h1>
                            <h4 class="text-center"><small>Please be patient while the other party completes the next step(s).</small></h4>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">
                            <button class="btn btn-block btn-primary pull-right" ui-sref="Partnerships">Back to POST</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>