<div class="container-fluid">
    <!-- Content -->
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">My Posts</h1>
                </div>
                <div class="panel-body">
                    <!-- Post Options -->
                    <div class="col-xs-3 padding-l">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="text-center"><strong>CREATE POST</strong></h3>
                                <!-- <p class="text-center"><small>Begin by selecting one</small></p> -->
                                <br>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1">
                                <button class="btn btn-default btn-lg btn-block crequest-btn" ng-disabled="!ctrl.username" ui-sref="PartnershipsPost({type:'request'})"><span class="pull-left glyphicon glyphicon-log-in"></span> Request</button>
                                <br>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1">
                                <button class="btn btn-default btn-lg btn-block coffer-btn" ng-disabled="!ctrl.username" ui-sref="PartnershipsPost({type:'offer'})"><span class="pull-left glyphicon glyphicon-log-out"></span> Offer</button>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- Analytics -->
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12 border-l">
                                <h4 class="text-center"><b>REQUESTS</b></h4>
                                <hr>
                                <p class="text-center">Pending</p>
                                <h1 class="text-center">{{ctrl.pending_requests}}</h1>
                                <hr>
                                <p class="text-center"><button ui-sref="PartnershipsMyPosts({type:'request'})" ng-disabled="!ctrl.username" class="btn btn-sm btn-default">View My Requests</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="text-center"><b>OFFERS</b></h4>
                                <hr>
                                <p class="text-center">Pending</p>
                                <h1 class="text-center">{{ctrl.pending_offers}}</h1>
                                <hr>
                                <p class="text-center"><button ui-sref="PartnershipsMyPosts({type:'offer'})" ng-disabled="!ctrl.username" class="btn btn-sm btn-default">View My Offers</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="text-center"><b>BIDS</b></h4>
                                <hr>
                                <p class="text-center">Pending</p>
                                <h1 class="text-center">{{ctrl.pending_bids}}</h1>
                                <hr>
                                <p class="text-center"><button ui-sref="PartnershipsMyBids" ng-disabled="!ctrl.username" class="btn btn-sm btn-default">View My Bids</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Public Posts</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <!-- Search bar -->
                        <div class="col-xs-12">
                            <form ng-submit="ctrl.search()">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search Posts" ng-model="ctrl.searchString">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="hr-nomargin">
                            <small class="">Filter By:</small>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control input-sm" ng-model="ctrl.filter_options.category_option" ng-options="x.value as x.name for x in ctrl.category_options"></select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control input-sm" ng-model="ctrl.filter_options.post_option" ng-options="x.value as x.name for x in ctrl.post_options"></select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control input-sm" ng-model="ctrl.filter_options.rfx_option" ng-options="x.value as x.name for x in ctrl.rfx_options"
                                    ng-show="ctrl.filter_options.category_option == 'partner'"></select>
                                <select class="form-control input-sm" ng-model="ctrl.filter_options.pdtsvc_option" ng-options="x.value as x.name for x in ctrl.pdtsvc_options"
                                    ng-show="ctrl.filter_options.category_option == 'pdtsvc'"></select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <select class="form-control input-sm" ng-model="ctrl.filter_options.most_option" ng-options="x.value as x.name for x in ctrl.most_options"></select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Post Results -->
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-xs-1">POST</th>
                                        <th class="col-xs-1">TYPE</th>
                                        <!-- <th class="col-xs-3">ORGANISATION</th>
                                        <th class="col-xs-3">AUDIENCE</th>
                                        <th class="col-xs-3">TIME FRAME</th> -->
                                        <th class="col-xs-9">TITLE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in ctrl.post_list track by $index" ng-click="ctrl.viewPost(x._id)" ng-class="{'table-pointer':ctrl.userid}">
                                        <td ng-class="{'coffer-post':x.post_type=='offer','crequest-post':x.post_type=='request'}">{{x.post_type.toUpperCase()}}</td>
                                        <td>{{x.requirement}}</td>
                                        <!-- <td>{{x.type_of_organisation}}</td>
                                        <td>{{x.target_audience}}</td>
                                        <td>{{x.target_time_frame}}</td> -->
                                        <td>{{x.post_title}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul uib-pagination total-items="ctrl.page.totalItems" ng-model="ctrl.page.currentPage" max-size="ctrl.page.maxSize" class="pagination-sm"
                                boundary-links="true" boundary-link-numbers="true" force-ellipses="true"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>