<div class="container-fluid">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <!-- <h1 class="">Post<small>Specify Your Needs, Search Effectively</small></h1>              -->
        </div>
    </div>

    <!-- Content -->
    <!-- <hr> -->
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2">
            <ul class="nav nav-stacked" id="sidebar">
                <!-- <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#request">Request <span class="caret"></span></button> -->
                <li><a ui-sref="" data-parent="#sidebar" data-toggle="collapse" data-target="#request">Requests <div class="pull-right"><span class="caret"></span></div></a></li>
                <div id="request" class="panel-collapse collapse">
                    <hr class="hr-nomargin">
                    <div class="row">
                        <div class="col-xs-6">
                            <p class="text-center">Pending</p>
                            <h2 class="text-center">{{ctrl.pending_requests}}</h2>
                        </div>
                        <div class="col-xs-6">
                            <p class="text-center">Unread</p>
                            <h2 class="text-center">-</h2>
                        </div>
                    </div>
                    <hr class="hr-nomargin">
                    <ul class="nav">
                        <li><a ui-sref="PartnershipsMyPosts({type:'request'})">View My Requests</a></li>
                        <li><a ui-sref="">Recommended</a></li>
                        <li><a ui-sref="">Most Recent</a></li>
                    </ul>
                    <hr class="hr-nomargin">
                </div>
                <!-- <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#offer">Offer <span class="caret"></span></button> -->
                <li><a ui-sref="" data-parent="#sidebar" data-toggle="collapse" data-target="#offer">Offers <div class="pull-right"><span class="caret"></span></div></a></li>
                <div id="offer" class="panel-collapse collapse">
                    <hr class="hr-nomargin">
                    <div class="row">
                        <div class="col-xs-6" ui-sref="PartnershipsPending({type:'offer'})">
                            <p class="text-center">Pending</p>
                            <h2 class="text-center">{{ctrl.pending_offers}}</h2>
                        </div>
                        <div class="col-xs-6">
                            <p class="text-center">Unread</p>
                            <h2 class="text-center">-</h2>
                        </div>
                    </div>
                    <hr class="hr-nomargin">
                    <ul class="nav">
                        <li><a ui-sref="PartnershipsMyPosts({type:'offer'})">View My Offers</a></li>
                        <li><a ui-sref="">Recommended</a></li>
                        <li><a ui-sref="">Most Recent</a></li>
                    </ul>
                    <hr class="hr-nomargin">
                </div>
                <li><a ui-sref="PartnershipsMyBids">My Bids</a></li>
                <li><a ui-sref="">Drafts</a></li>
                <li><a ui-sref="">History</a></li>
                <!-- <li><a ui-sref=""></a></li> -->
            </ul>
        </div>
        <!-- Post Section -->
        <div class="col-md-10">
            <!-- Post Options -->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-4 col-md-2 col-md-offset-3">
                        <h4 class="text-center">POST A</h4>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <button class="btn btn-default btn-block" ui-sref="PartnershipsPost({type:'request'})">Request</button>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <button class="btn btn-default btn-block" ui-sref="PartnershipsPost({type:'offer'})">Offer</button>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Search bar -->
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-group">
                        <select class="form-control" ng-model="ctrl.filter_options.category_option" ng-options="x.value as x.name for x in ctrl.category_options"></select>
                    </div>
                </div>
                <div class="col-xs-10">
                    <form ng-submit="ctrl.search()">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts" ng-model="ctrl.searchString">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 text-center">
                    <h5 class="">Filter By:</h5>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <select class="form-control input-sm" ng-model="ctrl.filter_options.post_option" ng-options="x.value as x.name for x in ctrl.post_options"></select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <select class="form-control input-sm" ng-model="ctrl.filter_options.rfx_option" ng-options="x.value as x.name for x in ctrl.rfx_options"
                            ng-show="ctrl.filter_options.category_option == 'partner'"></select>
                        <select class="form-control input-sm" ng-model="ctrl.filter_options.pdtsvc_option" ng-options="x.value as x.name for x in ctrl.pdtsvc_options"
                            ng-show="ctrl.filter_options.category_option == 'pdtsvc'"></select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <select class="form-control input-sm" ng-model="ctrl.filter_options.most_option" ng-options="x.value as x.name for x in ctrl.most_options"></select>
                    </div>
                </div>
            </div>
            <br>
            <!-- Post Results -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover .table-responsive">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Post</th>
                                <th class="col-xs-1">Type</th>
                                <th class="col-xs-3">Organisation</th>
                                <th class="col-xs-3">Target Audience</th>
                                <th class="col-xs-3">Target Time Frame</th>
                                <th class="col-xs-1" ng-show="ctrl.userid"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in ctrl.post_list track by $index">
                                <td>{{x.post_type.toUpperCase()}}</td>
                                <td>{{x.requirement}}</td>
                                <td>{{x.type_of_organisation}}</td>
                                <td>{{x.target_audience}}</td>
                                <td>{{x.target_time_frame}}</td>
                                <td ng-show="ctrl.userid">
                                    <div class="pull-right"><a ui-sref="PartnershipsOnePost({id:x._id,view:'match'})"><span class="glyphicon glyphicon-search"></span></a></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>