<!-- <div ng-if="ctrl.privilege == 'member'"> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">MATCH RESULT</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                            <h4 class="text-center">
                                <u>POTENTIAL {{ctrl.post_type}}</u>
                            </h4>
                            <hr>
                            <h3 class="text-center" ng-show="ctrl.posts.length == 0">
                                <div>No Results</div>
                                <div><small>Try widening your search field</small></div>
                            </h3>
                            <table class="table table-hover" ng-show="ctrl.posts.length > 0">
                                <thead>
                                    <tr>
                                        <th class="col-xs-1">Type</th>
                                        <!-- <th class="col-xs-4">Organisation</th>
                                        <th class="col-xs-3">Target Audience</th>
                                        <th class="col-xs-3">Target Time Frame</th> -->
                                        <th class="col-xs-9">Title</th>
                                        <th class="col-xs-1">Relevence</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in ctrl.posts track by $index" class="table-pointer" ui-sref="PartnershipsOnePost({id:x._id,view:'match'})">
                                        <td>{{x.requirement}}</td>
                                        <!-- <td>{{x.type_of_organisation}}</td>
                                        <td>{{x.target_audience}}</td>
                                        <td>{{x.target_time_frame}}</td> -->
                                        <td>{{x.post_title}}</td>
                                        <td>
                                            <percent-circle class="adjust" percent="x.score.toFixed(2)"></percent-circle>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 border-l">
                            <h4 class="text-center">
                                <u>POTENTIAL COMPANIES</u>
                            </h4>
                            <hr>
                            <h3 class="text-center" ng-show="ctrl.companies.length == 0">
                                <div>No Results</div>
                                <div><small>Try widening your search field</small></div>
                            </h3>
                            <table class="table table-hover" ng-show="ctrl.companies.length > 0">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">Name</th>
                                        <th class="col-xs-4">Organisation</th>
                                        <th class="col-xs-3">Location</th>
                                        <th class="col-xs-1">Relevence</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in ctrl.companies track by $index" class="table-pointer">
                                        <td>{{x.company_name}}</td>
                                        <td>{{x.type_of_organisation}}</td>
                                        <td>{{x.location_country.toUpperCase()}}</td>
                                        <td>
                                            <percent-circle class="adjust" percent="x.score.toFixed(2)"></percent-circle>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>
<!-- </div> -->