<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">MY BIDS</h4>
                </div>
                <div class="panel-body">
                    <h3 class="text-center" ng-show="ctrl.bidList.length == 0">
                        <div>No Bids</div>
                        <div><small>Try bidding for some Posts</small></div>
                    </h3>
                    <table class="table table-hover .table-responsive" ng-show="ctrl.bidList.length > 0">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Type</th>
                                <!-- <th class="col-xs-3">Organisation</th>
                                <th class="col-xs-3">Target Audience</th>
                                <th class="col-xs-3">Target Time Frame</th> -->
                                <th class="col-xs-9">Title</th>
                                <th class="col-xs-1">Status</th>
                                <th class="col-xs-1">Published</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in ctrl.bidList track by $index" ui-sref="PartnershipsOnePost({id:x._id,view:'mybids'})" class="table-pointer">
                                <td>{{x.requirement}}</td>
                                <td>{{x.type_of_organisation}}</td>
                                <td>{{x.target_audience}}</td>
                                <td>{{x.target_time_frame}}</td>
                                <td>{{x.publishStatus}}</td>
                                <td>{{x.platform}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-default pull-right btn-space" ui-sref="Partnerships">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>