<!-- <div ng-if="ctrl.privilege == 'member'"> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">STEP 1 : Strategic Objective</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <!-- <label for="post_type">Select Strategic Objective :</label> -->
                                <select id="post_type" name="post_type" class="form-control" ng-model="ctrl.post_option" ng-options="x.value as x.name for x in ctrl.post_options">
                    <option value="" disabled>- - Select - -</option>
                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default" ng-show="ctrl.post_option">
                <div class="panel-heading">
                    <h4 class="panel-title">STEP 2 : Post Preferences</h4>
                </div>
                <div class="panel-body">
                    <div class="row" ng-show="ctrl.post_option == '1'">
                        <div class="col-md-8 col-md-offset-2">

                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <form name="partnershipForm" id="partnershipForm" novalidate>
                                <div class="form-group">
                                    <label for="">Post Title:</label>
                                    <input class="form-control" placeholder="Short Description (20-70 characters)" maxlength="70" type="text" ng-model="ctrl.post_options_1.post_title">
                                </div>
                                <p>*Complete as much of the form as possible to get a more <em>RELIABLE</em> match</p>
                                <br>
                                <!-- Types of Partnership Interested -->
                                <div class="form-group" ng-class="{'has-error': partnershipForm.partnership.$dirty && partnershipForm.partnership.$invalid}">
                                    <label for="partnership">Types of Partnership Interested :</label>
                                    <div isteven-multi-select input-model="ctrl.partnerships" output-model="ctrl.post_options_1.type_of_partnership_interested"
                                        button-label="value" item-label="value" tick-property="ticked" orientation="horizontal"
                                        class="multiselectMod">

                                    </div>
                                </div>
                                <!-- Preferred Partner Attributes -->
                                <!-- Company Size -->
                                <div class="form-group">
                                    <label for="size">Company Size :</label>
                                    <select id="size" name="size" class="form-control" ng-model="ctrl.post_options_1.company_size" ng-options="x.value as x.name for x in ctrl.company_size">
                                        <option value="" disabled>- - Select - -</option>
                                    </select>
                                </div>
                                <!-- Organisation -->
                                <div class="form-group">
                                    <label for="organisation">Type of Organisation :</label>
                                    <select id="organisation" name="organisation" class="form-control" ng-model="ctrl.post_options_1.type_of_organisation" ng-options="x.value as x.name for x in ctrl.type_of_organisation">
                                        <option value="" disabled>- - Select - -</option>
                                    </select>
                                </div>
                                <!-- Financial Capacity -->
                                <div class="form-group">
                                    <label for="financial">Financial Capacity :</label>
                                    <select id="financial" name="financial" class="form-control" ng-model="ctrl.post_options_1.financial_capacity" ng-options="x.value as x.name for x in ctrl.financial_capacity">
                                        <option value="" disabled>- - Select - -</option>
                                    </select>
                                </div>
                                <!-- Target Audience -->
                                <div class="form-group">
                                    <label for="audience">Target Audience :</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="btn-group btn-group-justified">
                                                <label class="btn btn-block btn-default" uib-btn-radio="'Consumers (B2C)'" ng-model="ctrl.post_options_1.target_audience">Consumers (B2C)</label>
                                                <label class="btn btn-block btn-default" uib-btn-radio="'Business (B2B)'" ng-model="ctrl.post_options_1.target_audience">Business (B2B)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Target Time Frame -->
                                <div class="form-group">
                                    <label for="time_frame">Time Frame :</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="btn-group btn-group-justified">
                                                <label class="btn btn-block btn-default" uib-btn-radio="'Short Term (1-3 years)'" ng-model="ctrl.post_options_1.target_time_frame">Short Term (1-3 years)</label>
                                                <label class="btn btn-block btn-default" uib-btn-radio="'Long Term (beyond 3 years)'" ng-model="ctrl.post_options_1.target_time_frame">Long Term (beyond 3 years)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Geography -->
                                <!-- Sectors -->
                                <div class="form-group">
                                    <label for="sectors">Sectors Interested In :</label>
                                    <div isteven-multi-select input-model="ctrl.sectors" output-model="ctrl.post_options_1.sector" button-label="value" item-label="value"
                                        tick-property="ticked" orientation="horizontal" class="multiselectMod">
                                    </div>
                                </div>
                                <!-- Countries -->
                                <label for="areas">Countries Interested In :</label>
                                <div class="form-group">
                                    <div class="row">
                                        <!-- <input id="areas" name="areas" type="text" class="form-control" placeholder="Country" ng-model="ctrl.formOptions.key_geographical_area"> -->
                                        <div class="col-xs-5">
                                            <select id="areas" name="areas" class="form-control" ng-change="ctrl.loadStates()" ng-model="ctrl.formOptions.key_geographical_area"
                                                ng-options="x as x for x in ctrl.countries">
                                        <option value="" disabled>- - Select Country - -</option>
                                    </select>
                                        </div>
                                        <div class="col-xs-5">
                                            <select id="state" name="state" class="form-control" ng-model="ctrl.formOptions.key_geographical_state" ng-options="x as x for x in ctrl.states">
                                        <option value="" disabled>- - Select State - -</option>
                                    </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <button class="btn btn-default btn-block" type="button" ng-click="ctrl.addArea()"><i class="glyphicon glyphicon-plus"></i></button>
                                        </div>
                                    </div>
                                    <table ng-show="ctrl.post_options_1.country.length > 0" class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-5"></th>
                                                <th class="col-xs-5"></th>
                                                <th class="col-xs-2"></th>
                                            </tr>
                                            <tbody>
                                                <tr ng-repeat="x in ctrl.post_options_1.country track by $index">
                                                    <td>
                                                        <div class="">{{x}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="">{{ctrl.post_options_1.state[$index]}}</div>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-xs btn-default pull-right" type="button" ng-click="ctrl.removeArea($index)"><span class="glyphicon glyphicon-minus"></span></a></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                                <!-- Requirements -->
                                <div class="form-group" ng-class="{'has-error': partnershipForm.interest.$dirty && partnershipForm.interest.$invalid}">
                                    <label for="requirement">State your Requirement :</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="btn-group btn-group-justified">
                                                <label class="btn btn-block btn-default" uib-btn-radio="'RFI'" ng-model="ctrl.post_options_1.requirement">RFI</label>
                                                <label class="btn btn-block btn-default" uib-btn-radio="'REOI'" ng-model="ctrl.post_options_1.requirement">REOI</label>
                                                <label class="btn btn-block btn-default" uib-btn-radio="'RFP'" ng-model="ctrl.post_options_1.requirement">RFP</label>
                                                <label class="btn btn-block btn-default" uib-btn-radio="'RFQ'" ng-model="ctrl.post_options_1.requirement">RFQ</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product / Solutions -->
                                <!-- <div class="form-group" ng-class="{'has-error': partnershipForm.interest.$dirty && partnershipForm.interest.$invalid}">
                    <label for="interest">Area of Interest OR Products/Solutions Interested in :</label>
                    <textarea id="interest" name="interest" class="form-control" placeholder="Description" rows="5"></textarea>
                    <span ng-show="partnershipForm.interest.$error.required && partnershipForm.interest.$dirty" class="help-block">
                        Field is .
                    </span>
                </div> -->
                                <!-- Influence -->
                                <!-- <div class="form-group">
                    <label for="influence">Influence in Company's Buying Decision :</label>
                    <select id="influence" name="influence" class="form-control" ng-model="ctrl.form.influence_decision" ng-options="x.value as x.name for x in ctrl.influenceDecisions">
                        <option value="" disabled>- - Select Influence - -</option>
                    </select>
                </div> -->

                                <br>
                                <!-- <div class="col-xs-4 col-xs-offset-4">
                                    <button class="btn btn-block btn-primary" type="submit" ng-disabled="partnershipForm.$invalid">Next Step</button>
                                </div> -->
                            </form>
                        </div>
                    </div>

                    <div class="row" ng-show="ctrl.post_option == '2'">
                        <div class="col-xs-12">
                            <h1 class="text-center">Work in Progress</h1>
                        </div>
                    </div>
                    <div class="row" ng-show="ctrl.post_option == '3'">
                        <div class="col-xs-12">
                            <h1 class="text-center">Work in Progress</h1>
                        </div>
                    </div>
                    <div class="row" ng-show="ctrl.post_option == '4'">
                        <div class="col-xs-12">
                            <h1 class="text-center">Work in Progress</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="ctrl.post_option == '1'">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">STEP 3 : Publish Platform</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        <form name="publishForm" id="publishForm" ng-submit="ctrl.publish()" novalidate>
                            <!-- Publish Platform -->
                            <div class="form-group">
                                <label for="platform">Publish Platform :</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-group-justified">
                                            <label class="btn btn-block btn-default" uib-btn-radio="'public'" ng-model="ctrl.publish_options.platform">Public DashBoard</label>
                                            <label class="btn btn-block btn-default" uib-btn-radio="'private'" ng-model="ctrl.publish_options.platform">Private DashBoard</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Privacy Settings -->
                            <div class="form-group" ng-show="ctrl.publish_options.platform == 'public'">
                                <label for="platform">Publish Settings :</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-group-justified">
                                            <label class="btn btn-block btn-default" uib-btn-radio="'1'" ng-model="ctrl.publish_options.settings">Publish Anonymously</label>
                                            <label class="btn btn-block btn-default" uib-btn-radio="'2'" ng-model="ctrl.publish_options.settings">Publish with Company Info</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="ctrl.publish_options.platform == 'private'">
                                <label for="platform">Publish Settings :</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-group-justified">
                                            <label class="btn btn-block btn-default" uib-btn-radio="'3'" ng-model="ctrl.publish_options.settings">Private Matching</label>
                                            <label class="btn btn-block btn-default" uib-btn-radio="'4'" ng-model="ctrl.publish_options.settings">Private Publish</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <button class="btn btn-block btn-primary pull-right" ng-disabled="!ctrl.publish_options.platform" ng-click="ctrl.post()">Publish</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>
<!-- </div> -->