<!-- <div ng-if="ctrl.privilege == 'member'"> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">STEP 3 : Publish Platform</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        <form name="publishForm" id="publishForm" ng-submit="ctrl.publish()" novalidate>
                            <!-- Publish Platform -->
                            <div class="form-group">
                                <label for="platform">Publish Platform :</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-group-justified">
                                            <label class="btn btn-block btn-default" uib-btn-radio="'public'" ng-model="ctrl.publish_options.platform">Public DashBoard</label>
                                            <label class="btn btn-block btn-default" uib-btn-radio="'private'" ng-model="ctrl.publish_options.platform">Private Matching</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Privacy Settings -->
                            <div class="form-group" ng-show="ctrl.publish_options.platform == 'public'">
                                <label for="platform">Privacy Settings :</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-group-justified">
                                            <label class="btn btn-block btn-default" uib-btn-radio="'1'" ng-model="ctrl.publish_options.settings">Publish Anonymously</label>
                                            <label class="btn btn-block btn-default" uib-btn-radio="'2'" ng-model="ctrl.publish_options.settings">Publish with Company Info</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <button class="btn btn-block btn-primary pull-right" ng-disabled="!ctrl.publish_options.platform">Publish</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
</div>
<!-- </div> -->