<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Post Description</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <b>Post Title</b>
                                </div>
                                <div class="col-xs-10">
                                    {{ctrl.post_data.post_title}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-2">
                                    <b>Post ID</b>
                                </div>
                                <div class="col-xs-10">
                                    {{ctrl.post_data._id}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr class="hr-nomargin2"> -->
                    <hr>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h5 class="label-small"><b>Publish Platform</b></h5>
                                    <h5 class="">{{ctrl.post_data.platform.toUpperCase()}}</h5>
                                </div>
                                <div class="col-xs-12">
                                    <h5 class="label-small"><b>Publish Status</b></h5>
                                    <h5 class="">{{ctrl.post_data.publishStatus.toUpperCase()}}</h5>
                                </div>
                                <div class="col-xs-12">
                                    <h5 class="label-small"><b>Post Mode</b></h5>
                                    <h5 class="">{{ctrl.post_data.post_type.toUpperCase()}}</h5>
                                </div>
                                <div class="col-xs-12">
                                    <h5 class="label-small"><b>Post Type</b></h5>
                                    <h5 class="">{{ctrl.post_data.requirement}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 border-l">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h5 class=""><b>Type of Organisation</b></h5>
                                    <h5 class="">{{ctrl.post_data.type_of_organisation}}</h5>
                                </div>
                                <div class="col-xs-4 border-l">
                                    <h5 class=""><b>Target Audience</b></h5>
                                    <h5 class="">{{ctrl.post_data.target_audience}}</h5>
                                </div>
                                <div class="col-xs-4 border-l">
                                    <h5 class=""><b>Target Time Frame</b></h5>
                                    <h5 class="">{{ctrl.post_data.target_time_frame}}</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2">
                                    <b>Coverage</b>
                                </div>
                                <div class="col-xs-10">
                                    <div ng-repeat="x in ctrl.post_data.country">
                                        {{x}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2">
                                    <b>Sectors Interested</b>
                                </div>
                                <div class="col-xs-10">
                                    <div ng-repeat="x in ctrl.post_data.sector">
                                        {{x}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2">
                                    <b>Partnerships Interested</b>
                                </div>
                                <div class="col-xs-10">
                                    <div ng-repeat="x in ctrl.post_data.type_of_partnership_interested">
                                        {{x}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12" ng-show="ctrl.post_data.bidders_count && ctrl.post_data.publishStatus == 'open'">
                            <div class="row">
                                <div class="col-xs-2"><b>No. of Bidders</b></div>
                                <div class="col-xs-10">{{ctrl.post_data.bidders_count}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-show="ctrl.post_data.bidders && ctrl.post_data.publishStatus == 'open'">
                            <div class="row">
                                <div class="col-xs-2">
                                    <b>Bidders</b>
                                </div>
                                <div class="col-xs-10">
                                    <div ng-repeat="x in ctrl.post_data.company_names">
                                        <label class="radio-inline">
                                            <input value="{{ctrl.post_data.bidders[$index]}}" type="radio" ng-model="ctrl.selectedBidder">{{x.company_name}}
                                        </label>
                                        <div class="pull-right"><a ui-sref="ViewCompanyProfile({id:x._id})"><span class="glyphicon glyphicon-search"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-show="ctrl.post_data.final_bidder && ctrl.post_data.publishStatus == 'closed'">
                            <div class="row">
                                <div class="col-xs-2">
                                    <b>Final Bidder</b>
                                </div>
                                <div class="col-xs-10">
                                    {{ctrl.post_data.final_bidder_company_name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr ng-show="ctrl.post_data.bidders_count || ctrl.post_data.bidders">
                    <div class="row">
                        <div class="col-xs-12" ng-show="ctrl.view_type == 'match'">
                            <button class="btn btn-primary pull-right" ng-disabled="ctrl.post_data.bidded" ng-click="ctrl.acceptPost()">{{ctrl.bidtext}}</button>
                            <button class="btn btn-default pull-right btn-space" ui-sref="Partnerships">Cancel</button>
                        </div>
                        <div class="col-xs-12" ng-show="ctrl.view_type == 'local'">
                            <button ng-show="ctrl.post_data.publishStatus == 'open' && (ctrl.post_data.bidders || ctrl.selectedBidder)" ng-disabled="ctrl.post_data.publishStatus == 'closed' || !ctrl.post_data.bidders || !ctrl.selectedBidder"
                                class="btn btn-primary pull-right" ng-click="ctrl.chooseBidder()">Accept</button>
                            <button class="btn btn-default pull-right btn-space" ui-sref="PartnershipsMyPosts({type:ctrl.post_data.post_type})">Back</button>
                        </div>
                        <div class="col-xs-12" ng-show="ctrl.view_type == 'mybids'">
                            <button class="btn btn-default pull-right" ui-sref="PartnershipsMyBids">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>