<div class="mainwp">
    <div class="container-fluid margin-top-offset">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <h1 class="text-center main-head">
                    <div class="main-head-font">Welcome to NodeMatch</div>
                    <div class="main-head-font"><small>A B2B Matching Service</small></div>
                </h1>
                <div class="row">
                    <div class="col-xs-offset-4 col-xs-4">
                        <button class="btn btn-default btn-block main-btn" ui-sref="Partnerships">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>