<nav class="navbar navbar-inverse" role="navigation">
     <div class="container-fluid"> 
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="Home">NodeMatch</a>
        </div>        

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <!-- <a ui-sref="Partnerships">Partnerships <span class="sr-only">(current)</span></a> -->
                    <a ui-sref="Partnerships">POST <span class="sr-only">(current)</span></a>
                </li>
                 <li>
                    <a ui-sref="Mall">MALL</a>
                </li>
                <!-- <li>
                    <a ui-sref="RFX">RFx</a>
                </li>  -->
                <li>
                    <a ui-sref="">SUPPORT</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!ctrl.username">
                    <!-- <a ui-sref="Login">Login / SignUp</a> -->
                    <button ui-sref="Login"class="btn btn-primary navbar-btn pull-right">Login / SignUp</button>
                </li>
                <li ng-if="ctrl.username" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="" ng-click="ctrl.notified()"><span class="fa fa-envelope-o"> <span class="badge">{{ctrl.notices}}</span></span></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="ctrl.noticeList.length == 0">
                            <div class="text-center"><h5>No Messages</h5></div>
                        </li>
                        <li ng-show="ctrl.noticeList.length > 0" ng-repeat="x in ctrl.noticeList track by $index">
                            <a ui-sref="">
                                <div class="row">
                                <div class="col-xs-12">
                                    Post : {{x.post_title}}
                                </div>
                                <div class="col-xs-12">Status : Accepted</div>
                                </div>
                            </a>
                            <li role="separator" class="divider"></li>
                        </li>
                    </ul>
                </li>
                <li ng-if="ctrl.username" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ui-sref=""><span class="fa fa-user-circle-o"></span> {{ctrl.username}}</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="Profile">View Profile</a></li>
                        <li><a ui-sref="">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="ctrl.logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
     </div> 
</nav>

<!-- <div ncy-breadcrumb></div> -->